.bestSells-container {
    width: 100%;
    max-width: 1440px;
    height: 944px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* background-color: red; */
}

.bestSells-container .title h2 {
    color: #603809;
    font-weight: 700;
    font-size: 24px;
}

.bestSells-container .ProductsList {
    display: grid;
    width: 100%;

    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 75px 30px;
}